Source: mailscripts
Section: mail
Priority: optional
Maintainer: Sean Whitton <spwhitton@spwhitton.name>
Standards-Version: 4.4.1
Build-Depends:
 bash-completion,
 debhelper (>= 10),
 dh-elpa,
 gnutls-bin <!nocheck>,
 gpg <!nocheck>,
 gpg-agent <!nocheck>,
 gpgsm <!nocheck>,
 mypy <!nocheck>,
 openssl <!nocheck>,
 perl,
 python3 <!nocheck>,
 python3-argcomplete,
 python3-gssapi <!nocheck>,
 python3-pgpy (>= 0.5.4-4.1) <!nocheck>,
Vcs-Git: https://git.spwhitton.name/mailscripts
Vcs-Browser: https://git.spwhitton.name/mailscripts
Homepage: https://git.spwhitton.name/mailscripts

Package: elpa-mailscripts
Architecture: all
Depends:
 emacsen-common (>= 2.0.8),
 mailscripts,
 ${elpa:Depends},
 ${misc:Depends},
Recommends:
 emacs (>= 46.0),
Enhances:
 emacs,
 emacs25,
Description: Emacs utilities for handling mail on Unixes
 The original purpose of this package was to make it easy to use the small
 mail-handling utilities shipped in the 'mailscripts' package from within
 Emacs.  It now also contains some additional, thematically-related utilities
 which don't invoke any of those scripts.
 .
 Entry points you might like to look at if you're new to this package:
 mailscripts-prepare-patch, notmuch-slurp-debbug,
 notmuch-extract-{thread,message}-patches{,-to-project}.

Package: mailscripts
Depends:
 libconfig-tiny-perl,
 libfile-which-perl,
 libipc-system-simple-perl,
 liblist-moreutils-perl,
 libmail-box-perl,
 python3,
 ${misc:Depends},
 ${perl:Depends},
Recommends:
 devscripts,
 git,
 libgit-wrapper-perl,
 notmuch,
 python3-argcomplete,
 python3-gssapi,
 python3-pgpy,
Suggests:
 gnutls-bin,
 gpg,
 gpg-agent,
 gpgsm,
 libdbd-sqlite3-perl,
 libemail-date-format-perl,
 libio-socket-ssl-perl,
 libmailtools-perl,
 libmime-lite-perl,
 libtry-tiny-perl,
 libxml-feed-perl,
 default-mta | mail-transport-agent,
 openssl,
 python3-notmuch,
Architecture: all
Description: collection of scripts for manipulating e-mail on Debian
 This package provides a collection of scripts for manipulating e-mail
 stored on Debian systems.
 .
 mdmv -- safely move messages between maildirs
 .
 mbox2maildir -- convert an mbox to a maildir using Python's libraries
 .
 notmuch-slurp-debbug -- add messages from a Debian bug to notmuch
 .
 notmuch-extract-patch -- extract a git patch series from notmuch
 .
 mbox-extract-patch -- extract a git patch series from an mbox
 .
 maildir-import-patch -- import a git patch series into a maildir
 .
 notmuch-import-patch -- import a git patch series into notmuch
 .
 email-print-mime-structure -- tree view of a message's MIME structure
 .
 email-extract-openpgp-certs -- extract OpenPGP certificates from a message
 .
 imap-dl -- download messages from an IMAP mailbox to a maildir
 .
 gmi2email -- subscribe to gemlogs and read individual Gemini pages by e-mail
 .
 sendmail-reinject -- reinject an e-mail message via sendmail(1)
